{% extends "base.html" %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="#">SCV</a></li>
  <li class="active">Inicio</li>
</ol>

<div class="page-header">
	<h1 id="titulo"><strong>Iniciemos...</strong></h1>
</div>

<div id="radio" class="jumbotron">
  <div class="container">
	  <h2><center>Bienvenido al Sistema de Administración <strong>Comercial "Victor"</strong></center></h2>
	  	<div class="ejemplo" align="center">
		  <p class="text-warning"><small>Por favor, realize las operciones permitas por el sistema y permanezca solo el tiempo suficiente para realizar sus operaciones, su ingreso al sistema fue registrado y sera reportado.</small></p>
		  <p ><strong>Gracias por utilizar SCV.</strong></p>
		</div>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Iniciar</a></p>
  </div>
</div>
{% endblock %}